In [2]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [ ]:
#load the datastet
df = pd.read_csv("C:/Users/91801/Desktop/Agriculture/Agriculture analysis/Agriculture Data.csv")

In [4]:
#rename the columns
df.columns = df.columns.str.lower()

In [5]:
#replace the spacse with underscore
df.columns = df.columns.str.replace(" ","_")

In [6]:
#use regex function to check unvanted replace that
df.columns = df.columns.str.replace(r"_\(.*\)", "", regex=True)

In [7]:
#check if any null values
df.isnull().sum()/len(df)

dist_code                     0.0
year                          0.0
state_code                    0.0
state_name                    0.0
dist_name                     0.0
                             ...
vegetables_area               0.0
fruits_and_vegetables_area    0.0
potatoes_area                 0.0
onion_area                    0.0
fodder_area                   0.0
Length: 80, dtype: float64

In [8]:
#check if any duplictes value
df.duplicated().sum()

0

In [9]:
#filter the columns with specific business cases
agri_data = df[[
    "dist_code", "state_code", "state_name", "dist_name", "year",
    "rice_area", "rice_production", "rice_yield",
    "wheat_area", "wheat_production", "wheat_yield",
    "kharif_sorghum_area", "kharif_sorghum_production",
    "rabi_sorghum_area", "rabi_sorghum_production",
    "sorghum_production", "maize_area", "maize_production",
    "maize_yield", "groundnut_production", "soyabean_area",
    "soyabean_production","soyabean_yield", "oilseeds_production", 
    "oilseeds_area","sunflower_production", "sugarcane_production", 
    "cotton_production", "cotton_yield", "pearl_millet_production","finger_millet_production"]]

agri_data

,dist_code,state_code,state_name,dist_name,year,rice_area,rice_production,rice_yield,wheat_area,wheat_production,...,soyabean_production,soyabean_yield,oilseeds_production,oilseeds_area,sunflower_production,sugarcane_production,cotton_production,cotton_yield,pearl_millet_production,finger_millet_production
0,1,14,Chhattisgarh,Durg,1966,548.00,185.00,337.59,44.00,20.00,...,0.00,0.00,-1.00,50.70,0.00,1.6,0.0,0.0,0.00,0.20
1,1,14,Chhattisgarh,Durg,1967,547.00,409.00,747.71,50.00,26.00,...,0.00,0.00,-1.00,113.55,0.00,1.2,0.0,0.0,0.00,0.20
2,1,14,Chhattisgarh,Durg,1968,556.30,468.00,841.27,53.70,30.00,...,0.00,0.00,-1.00,126.62,0.00,1.0,0.0,0.0,0.00,0.20
3,1,14,Chhattisgarh,Durg,1969,563.40,400.80,711.40,49.40,26.50,...,0.00,0.00,14.90,114.14,0.00,1.9,0.0,0.0,0.00,0.20
4,1,14,Chhattisgarh,Durg,1970,571.60,473.60,828.55,44.20,29.00,...,0.00,0.00,24.30,126.40,0.00,1.4,0.0,0.0,0.00,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,917,15,Jharkhand,Singhbhum,2013,267.06,579.70,2170.67,1.53,1.85,...,0.00,0.00,1.58,1.33,0.00,0.0,0.0,0.0,0.00,0.00
16142,917,15,Jharkhand,Singhbhum,2014,256.33,586.63,2288.57,5.36,6.65,...,0.00,0.00,0.84,1.27,0.00,0.0,0.0,0.0,0.00,0.00
16143,917,15,Jharkhand,Singhbhum,2015,263.21,264.71,1005.70,1.99,1.82,...,0.00,0.00,0.95,1.42,0.00,0.0,0.0,0.0,0.00,0.00
16144,917,15,Jharkhand,Singhbhum,2016,224.05,319.01,1423.84,0.38,0.83,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.36
16145,917,15,Jharkhand,Singhbhum,2017,386.91,669.97,1731.62,0.00,0.00,...,0.18,645.39,0.00,0.00,0.57,0.0,0.0,0.0,0.27,1.78

In [14]:
#connect the Mysql and push the DataFrame in Mysql
def create_database_and_table(df, user, password, host, port, database, table_name):
    try:
        myconnect = pymysql.connect(host=host, user=user, passwd=password)
        cursor = myconnect.cursor()
        
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database}")
        print(f"✅ Database '{database}' is ready.")

        engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')
        
        df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
        print(f"✅ Table '{table_name}' created and data inserted successfully.")

    except Exception as e:
        print(f"⚠️ Error: {e}")
        
create_database_and_table(agri_data, "root", "0000", "127.0.0.1", "3306", "Agriculture", "agri_data")

✅ Database 'Agriculture' is ready.
✅ Table 'agri_data' created and data inserted successfully.